@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kantinens Menu for uge 45</title>
</head>
<body>
    <h1>Kantinens Menu for uge 45</h1>
    <table>
        <thead>
            <tr>
                <th>Dag</th>
                <th>Varm Ret</th>
                <th>Kold Ret</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Man</td>
                <td>Kylling & pasta</td>
                <td>Smørebrød</td>
            </tr>
            <tr>
                <td>Tirs</td>
                <td>Græskarsuppe</td>
                <td>Pastasalat</td>
            </tr>
            <tr>
                <td>Ons</td>
                <td>Boller i karry</td>
                <td>Salat</td>
            </tr>
            <tr>
                <td>Tor</td>
                <td>Fiskefilet</td>
                <td>Sandwich</td>
            </tr>
            <tr>
                <td>Fre</td>
                <td>Pizza</td>
                <td>Wraps</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
