@page
@model IndexCSS.IndexModel; //test

<h1>The canteens menu for week 45 :3</h1>
<table>
    <tr>
        <th>Day</th>
        <th>Hot Dish</th>
        <th>Cold dish</th>
    </tr>
    @if (Model.MenuItems.Any())
    {
        @foreach (var item in Model.MenuItems)
        {
            <tr>
                <td>@item.RowKey</td>
                <td>@item.HotDish</td>
                <td>@item.ColdDish</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">No menu data available.</td>
        </tr>
    }
</table>
